<div
    class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent"
>
    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b"
    >
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Maestros P & L</div>
    </div>
    <div class="flex flex-auto overflow-hidden">
        <!-- Lista de productos -->
        <div class="flex flex-col flex-auto overflow-hidden sm:overflow-x-auto">
            <mat-tab-group mat-align-tabs="center">
                <mat-tab label="Maestro aux mr asoc co"> Contenido 1 </mat-tab>
                <mat-tab label="Maestro aux mr asoc cuenta"> Contenido 2 </mat-tab>
                <mat-tab label="Maestro aux personal entrenamiento"> Contenido 3 </mat-tab>
                <mat-tab label="Maestro costo producción concepto"> Contenido 4 </mat-tab>
                <mat-tab label="Maestro regional"> Contenido 5 </mat-tab>
                <mat-tab label="Maestro restar desde NIIF"> Contenido 6 </mat-tab>
                <mat-tab label="Maestro sumar desde PCGA"> Contenido 7 </mat-tab>
            </mat-tab-group>
        </div>
    </div>    
</div>
