// Variables
$color-overlay-dark: #f59e0b; // Overlay más oscuro para mejorar legibilidad
$color-overlay-light: #f59e0b; // Overlay más claro para ajustes responsivos
$breakpoint-md: 768px; // Punto de ruptura para dispositivos medianos
$image-path: '/';

// Mixin para el fondo con overlay
@mixin background-image-overlay($image-path, $overlay-color) {
  background-image: url($image-path);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $overlay-color; // Color de fondo del overlay
    z-index: -1; // Se asegura de que el overlay esté detrás del contenido
  }
}

// Estilos base para el contenedor con la imagen de fondo
.background-image-overlay {
  @include background-image-overlay($image-path, $color-overlay-dark);
  position: relative;
  z-index: 1;

  // Estilos para el contenido textual sobre la imagen de fondo
  .content {
    color: white; // Color del texto para contrastar con el fondo oscuro
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); // Sombra de texto para mejorar la legibilidad
    text-align: center; // Alineación del texto
    padding: 20px; // Espaciado alrededor del texto
    font-size: 1.2rem; // Tamaño del texto
    font-weight: bold; // Peso de la fuente para mejorar la legibilidad
  }
}

// Ajustes responsivos para tamaños de pantalla medianos y mayores
@media (min-width: $breakpoint-md) {
  .background-image-overlay {
    @include background-image-overlay($image-path, $color-overlay-light); // Aplica un overlay más claro en pantallas más grandes

    // Ajustes para el contenido en pantallas más grandes
    .content {
      text-align: left; // Alineación del texto a la izquierda para pantallas más grandes
      padding: 40px; // Mayor espaciado alrededor del texto en pantallas más grandes
    }
  }
}

